* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: roboto, Arial, sans-serif;
    background-color: rgb(255, 252, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

main {
    margin: 0 auto;
}

form {
    background-color: rgb(219, 219, 219);
    max-width: 600px;
    border: 2px solid #9494948f;
    padding: 30px;
    border-radius: 5px;
    display: grid;
    gap: 15px;
    box-shadow: 0 2px 8px rbga(0,0,0,0.1);
}

input,textarea, select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #9494943f;
    width: 100%;
}

button {
    background-color: rgb(58, 58, 184);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: rgb(101, 101, 226);
    cursor: pointer;
}