* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REFAC TO APPLY MAX-WIDTH TO HEADER, GRID, FOOTER */
header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav{
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1  {
    color: darkblue;
    border-radius: 2px solid darkblue;
}

main img {
    width: 150px;
    height: auto;
    border:1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;
    align-items: start;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}