:root {
    --main-color: #0a66c2;
    --accent-color: ;
    --text-color: ;
    --secondary-color: ;
    --border-color: #d1e7f7;
    --footer-bg: #283e4a;
    --footer-text: #fff;
    --nav-bg: #0a66c2;
    --nav-link: #fff;
    --box-bg: #e7f3ff;
    --box-border: #0a66c2;
    --box-text: #1d2226;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a {
    display: block;
    color: var(--accent-color);
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--footer-bg);
    font-weight: 700;
    color: #fff;
}
nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border:1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

h1  {
    color: var(--main-color);
    padding-bottom: 2px;
    border-bottom: 2px solid var(--main-color);
}
aside {
    max-width: 30rem;
    position: relative;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    top: 5rem;
    left: 3rem;
}
p {
    padding: 1rem;
    color: var(--text-color);
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: auto 300px;

}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 2rem 1rem;
}
ul {
    list-style: none;
    padding: 1rem;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}